@import url("//fonts.googleapis.com/css?family=Muli");

@font-face {
    font-family: 'streetscriptregular';
    src: url('/fonts/streetscript-webfont.eot');
    src: url('/fonts/streetscript-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/streetscript-webfont.woff') format('woff'),
         url('/fonts/streetscript-webfont.ttf') format('truetype'),
         url('/fonts/streetscript-webfont.svg#streetscriptregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'neoubold';
    src: url('/fonts/neou-bold-webfont.eot');
    src: url('/fonts/neou-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/neou-bold-webfont.woff') format('woff'),
         url('/fonts/neou-bold-webfont.ttf') format('truetype'),
         url('/fonts/neou-bold-webfont.svg#neoubold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@import "settings";
//@import "foundation";


// Or selectively include components
@import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
   "foundation/components/buttons",
   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
   "foundation/components/flex-video",
   "foundation/components/forms",
   "foundation/components/grid",
   "foundation/components/inline-lists",
//   "foundation/components/joyride",
   "foundation/components/keystrokes",
   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
   "foundation/components/tables",
//   "foundation/components/tabs",
   "foundation/components/thumbs",
   "foundation/components/tooltips",
   "foundation/components/top-bar",
   "foundation/components/type",
//   "foundation/components/offcanvas",
   "foundation/components/visibility";

h1, h2, h3 {
  font-family: 'Muli', $body-font-family;
}

.nav-header {
	background-color: $topbar-bg-color;
}

.expanded .top-bar-section .fa {
  margin-right: 12px;
}

.expanded .top-bar-section .has-dropdown > a:after {
  top: 21px;
}

.top-bar-section li a:not(.button) {
  text-transform: uppercase;
}

.ec-triangles {
    background-image: url(/img/parallax/triangles-bg-large.svg);
    background-color: #fff;
    background-position: 50% 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 80px 0;
}

/* Kiwidev Logo */
.kiwidev-logo {
  opacity:0.05;
  width:70px;

  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}

.kiwidev-logo:hover {
  opacity: 0.9;
}

