@font-face {
    font-family: 'streetscriptregular';
    src: url('/fonts/streetscript-webfont.eot');
    src: url('/fonts/streetscript-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/streetscript-webfont.woff') format('woff'),
         url('/fonts/streetscript-webfont.ttf') format('truetype'),
         url('/fonts/streetscript-webfont.svg#streetscriptregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	/*background: url(/img/splash-background.png) top center repeat-x;*/
}

h1 {
	font-family: 'streetscriptregular';
	font-weight: normal;
}

#ec-countdown {
	font-family: 'streetscriptregular';
	font-size: 2em;
}

.news-post p {
	font-size: 0.9em;
}

a.lightbox {
	position: relative;
	display: block;
}

/* Lightbox Icon */
a.lightbox:hover i {
	opacity: 0.8;
}

a.lightbox i {
    display: block;
    font-size: 40px;
    line-height: 1em;
    height: 1em;
    width: 1em;
    text-align: center;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    margin: -0.5em 0 0 -0.5em;
    opacity: 0.5;
    text-shadow: 0 0 100px #1d1d1d;
    transition: opacity 0.5s ease;
}

/* Kiwidev Logo */
.kiwidev-logo {
	opacity:0.05;
	width:70px;

	transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
}

.kiwidev-logo:hover {
	opacity: 0.9;
}