// body, html {
//   background-color: #854a96;
//   color: #fff;
// }

html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -228px; /* the bottom margin is the negative value of the footer's height */
}

body > footer {
  height: 55px;
  background-color: $topbar-bg-color;
  color: #fff;
}

body > footer {
  padding-top: 15px;
}

body > footer ul {
  margin-bottom: 0 !important;
}

body > footer ul li a {
  color: #fff;
}

body > footer ul li a:hover {
  color: #fff;
  text-decoration: underline;
}

body > footer {
  height: 55px; /* .push must be the same height as .footer */
}

.push {
  height: 228px;
}

h1, h2, h3 {
  font-family: 'streetscriptregular', $body-font-family;
}

.header-divider {
  height: 35px;
}

.nav-header {
	background-color: $topbar-bg-color;
}

.expanded .top-bar-section .fa {
  margin-right: 12px;
}

.expanded .top-bar-section .has-dropdown > a:after {
  top: 21px;
}

.top-bar.expanded .toggle-topbar a span {
  box-shadow: none;
}

.top-bar-section li a:not(.button) {
  text-transform: uppercase;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
  background-color: darken($topbar-bg-color, 15%);
}

.parallax-orbit-container {
  position: relative;
  width: 100%;
}

.parallax-orbit-container h1 {
  z-index: 10;
}

.footer-first {
  background-color: lighten($topbar-bg-color, 5%);
}

a.fancybox {
  position: relative;
}

a.overlay-icon:hover i {
  opacity: 0.9;
}

a.overlay-icon i {
    display: block;
    font-size: rem-calc(30);
    line-height: rem-calc(35);
    height: 1em;
    width: 1em;
    text-align: center;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    // z-index: 100;
    margin: -0.5em 0 0 -0.5em;
    opacity: 0.5;
    text-shadow: 0 0 100px #1d1d1d;
    transition: opacity 0.5s ease;
}


// /*.parallax-orbit-inner {
//   position: absolute;
//   top:0;
//   left:0;
//   width: 100%;
//   z-index: 0;
// }*/

.parallax-section, .parallax-orbit li {
  background-color: #fff;
  background-position: 50% 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 35px;
}

.parallax-orbit-info {
  height: 500px;
}

.parallax-orbit-info h1 {
  font-size: rem-calc(100);
  line-height: rem-calc(100);
  font-family: Arial;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 rem-calc(25) #000, 0 0 rem-calc(25) #000, 0 0 rem-calc(10) #000;
  margin-top: 250px;
}

.ec-triangles {
    background-image: url(/img/parallax/triangles-bg-large.svg);
    padding: 50px 0;
}

.ec-pies {
    background-image: url(/img/parallax/ec-pies.jpg);
    padding: 80px 0;
}

/* Kiwidev Logo */
.kiwidev-logo {
  opacity:0.05;
  width:70px;

  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}

.kiwidev-logo:hover {
  opacity: 0.9;
}

img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+, IE10 */
    filter: gray; /* IE6-9 */
    //-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .2s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

img.grayscale:hover {
    filter: none;
    //-webkit-filter: grayscale(0%);
}

.supporter-img {
  opacity: 0.8;
}

.supporter-img:hover {
  opacity: 1;
}

#content-editor { 
  position: relative;
  min-height: 350px;
}

#news-posts {
  width: 100%;
}

.news-post { 
  width: 50%;
  -ms-word-break: break-all;

     /* Be VERY careful with this, breaks normal words wh_erever */
     word-break: break-all;

     /* Non standard for webkit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;

}

.video-title {
  font-size: rem-calc(13);
  text-align: center;
  margin: 6px 0;
}


.logo-home {
  max-height: 300px !important;
  margin: 0 auto 35px;
  display: block;
}

.rego-btn-home, .promo-btn-home {
  margin: 10px;
  width: 90%;
}

.content-top {
  margin-top: 25px;
}

.center {
  text-align: center;
}

.master-supporters {
  margin: 30px auto;
  min-height: 113px;
}

.master-supporters p {
  margin-bottom: 10px;
  color: #ababab;
  font-size: rem-calc(12);
}

.adp-directions {
  width: 100%;
}

#news-posts .test-post {
  width: 48%;
  margin: 1%;
}

.hidden {
  display: none;
}

@media #{$small-only} { 
  .push{
    height: 145px;
  }

  .wrapper {
    margin-bottom: -145px;
  }

  .master-supporters {
    max-height: 90px;
    overflow: hidden;
  }

  .master-supporters img {
    margin: 0 auto 20px;
    display: block;
  }

  footer .copyright {
    text-align: center;
  }
}

@media #{$medium-only} { 
  .master-supporters {
    margin: 10px auto;
    min-height: 90px;
  }

  .wrapper {
    margin-bottom: -165px;
  }

  .push {
    height: 165px;
  }
}

@media #{$large-up} { 
  #news-posts img{
    width: 50%;
  }
}



